@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i');

body {
    margin: 0;
}

html {
    overflow-x: hidden;
}

.half-content {
    width: 50%;
    float: left;
}

.mytest {
    border-bottom: 1px solid black;
}

/**************
Navigation
**************/

div#app {
    position:  absolute;
    top: 0;
    left:  0;
    right: 0;
}

.g-translate {
    text-align: center;
    padding: 30px 0;
    width: 100%;
    float: left;
}

.g-translate h2 {
    text-transform:  uppercase;
    margin-bottom: 30px;
}

.logo img {
    max-width: 100%;
}

.logo {
    float: left;
    width: 100%;
    text-align: center;
}

.nav-links {
    padding-top: 20px;
    display: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin: 0 10px;
    transition: 0.25s;
}

.nav-links a:hover {
    color: #039183;

}

.home-nav {
    position: absolute;
    width: 100%;
}

.nav {
    margin: 0 0 30px 0;
}

/******************
Homepage
******************/

.main-bg img {
    width: 100%;
    z-index: -1;
}

.offer-banner {
    background: #fff;
    text-align: center;
    z-index: 5;
    padding: 16px;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    color: #fff;
    background: #039183;
}

#bnr {
    text-decoration: none;
    position: relative;
    top: -5px;
}

.f-item-outer {
    border: 1px solid #333;
    font-family: "Montserrat";
    display: inline-block;
    margin: 25px;
}

.f-row {
    max-width: 900px;
    margin: 0 auto;
}

.f-category {
    text-transform: uppercase;
    color: #333;
}

.featured {
    background: #f5f5f5;
    padding: 40px 0;
}

.f-bullets {
    font-family: "Raleway";
    color: #9f9f9f;
    padding: 20px 0;
}

#rating {
    max-width: 35%;
}

.owl-nav.disabled {
    display: block !important;
}

.owl-prev {
    font-size: 0;
    position: absolute;
    left: -60px;
    bottom: 170px;
}

.owl-prev:before {
    content: "\f053";
    font-family: FontAwesome;
    color: #333;
    font-size: 40px;
}

.owl-next {
    font-size: 0;
    position: absolute;
    left: 900px;
    bottom: 170px;
}

.owl-next:before {
    content: "\f054";
    font-family: FontAwesome;
    color: #333;
    font-size: 40px;
}

.f-info {
    padding: 10px;
}

.f-thumb img {
    max-width: 100%;
}

.f-town {
    color: #039183;
    text-transform: uppercase;
}

.featured h1 {
    text-align: center;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 100;
    color: #333;
    margin-top: 0;
}

.fpi-item img {
    max-width: 100%;
    height: 60px;
}

.fpi-item {
    display: inline-block;
    /*! width: 15%; */
    font-family: "Raleway", sans-serif;
    color: #039183;
    padding: 0 31px;
}

.fpi-item .half-content:last-child {
    padding-top: 10px;
}

.four-points-inner {
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid #039183;
    border-bottom: 2px solid #039183;
    width: 60%;
    margin: 0 auto;
}

.four-points-outer {
    padding: 60px 0;
}

.main-bg-words h1,
.main-bg-words h2 {
    margin: 0;
}

.main-bg-words h2 {
    font-size: 22px;
}

.social {
    background: url(/images/social-bg.jpg);
    background-repeat: repeat;
    background-size: auto auto;
    text-align: center;
    font-family: "Raleway";
    color: #fff;
    padding: 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.si-item {
    display: block;
}

.social h1 {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 200;
}

.si-item img {
    width: 20%;
}

#departures,
#arrivals,
#dates {
    display: block;
}

#departures,
#arrivals {
    width: 80%;
    height: 40px;
    font-size: 15px;
    margin: 10px 0;
}

#dates {
    width: 43%;
    height: 40px;
    font-size: 15px;
    font-family: "Arial", sans-serif;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-color: rgb(166, 166, 166);
    padding: 0px 8px 1px;
    border-radius: 5px;
}

.hero-container {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
}

.main-bg form {
    width: 30%;
    border: 1px solid #333;
    padding: 20px;
    background: #cccccc6e;
    z-index: 2;
}

button#search {
    background: #565555;
    color: #fff;
    padding: 10px 15px;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 15px;
    border: none;
    margin: 20px 0;
    cursor: pointer;
}

.main-bg-words {
    color: #fff;
    font-family: "Montserrat";
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

.hero-container .half-content {
    position: relative;
    left: 170px;
}

.staff-graph {
    width: 50%;
    margin: 0 auto;
}

/******
booking
******/

.user-choice {
    font-size: 20px;
}

.selection {
    margin: 50px auto;
}

.selection h1 {
    border-bottom: 6px solid #009083;
    max-width: 31%;
}

.user-choice span {
    font-weight: bold;
    color: #038f83;
}

.selection-outer {
    max-width: 73%;
    margin: 0 auto;
}
/******************
Destinations
******************/

.page-title {
    font-family: "Montserrat";
    text-transform: uppercase;
    background: #333;
    padding: 10px 30px;
    color: #fff;
    font-size: 15px;
    padding-top: 100px;
}

.page-title h1 {
    font-weight: 100;
    max-width: 76%;
    margin: 0 auto;
}

.destination-hero {
    background: url(/images/destination-hero.jpg);
    color: #fff;
    font-family: "Raleway";
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    padding: 180px 270px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.list-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 240px;
}

.list-item {
    float: left;
    width: 33%;
    padding-bottom: 60px;
}

.destination-list h1 {
    font-family: "Montserrat";
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0;
    font-weight: 300;
}

.list-container ul li {
    list-style: none;
}

.list-container ul {
    padding: 0;
}

h5.list-title {
    font-family: "Montserrat";
    text-transform: uppercase;
}

.list-container a {
    text-decoration: none;
    color: #808080;
    font-family: "Raleway";
    font-size: 15px;
}

.list-container a:hover {
    color: #333;
}

/*****************
Contact
*****************/

.contact-container input {
    display: block;
    margin: 17px 0;
    padding: 10px;
    width: 70%;
    font-size: 14px;
}

.contact-container textarea {
    width: 100%;
    height: 136px;
    font-size: 14px;
    padding: 10px;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

.contact-container input:first-child {
    margin-top: 0;
}

.contact-container button {
    float: right;
    padding: 10px 33px;
    font-size: 14px;
    background: #333;
    color: #fff;
    font-family: "Montserrat";
    margin-bottom: 40px;
    margin-top: 20px;
    cursor: pointer;
}

.half-content.c-text {
    font-family: "Raleway";
    color: #333;
    margin: 60px 0;
}

div#map {
    width: 100%;
    height:  500px;
}

/****************
Login
****************/

.login-container form.half-content input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 13px;
    width: 60%;
}

.login-container form.half-content button {
    background: #333;
    color: #fff;
    padding: 10px 30px;
    font-size: 14px;
    margin-bottom: 180px;
}

.login-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/****************
Admin
****************/

.sidebar-container {
    width: 20%;
    float: left;
}

.sidebar-container a {
    display: block;
    text-decoration: none;
    color: #333;
    font-family: "Montserrat";
    text-transform: uppercase;
    padding: 15px;
    font-size: 19px;
}

.sidebar-container a:hover {
    color: #039183;
    background: #ececec;
}

div#sidebar-main {
    width: 70%;
    padding-left: 25px;
}

#sidebar-main h2 {
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #333;
}

#sidebar-main p {
    font-family: "Raleway";
    color: #333;
}

.admin-container {
    width: 100%;
    height:  480px;
    padding-top:  84px;
}

.admin-welcome {
    margin: 0 auto;
    max-width: 50%;
    padding-top: 30px;
}

.sidebar {
    width: 20%;
    float: left;
    border: 1px solid #333;
    background: #ccc;
    padding: 30px 0 30px 50px;
    text-transform: uppercase;
    font-weight: bold;
    clear: both;
    height: 100%;
}

.sidebar li {
    list-style: none;
    margin: 10px 0;
    border-bottom: 5px solid #333;
    width: 50%;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

.sidebar a li {
    border: none;
    width: 100%;
}

.sidebar ul {
  padding-left: 0;
}

.graph {
    width: 50%;
    height: auto;
    margin:  0 auto;
}

.graph img {
    width: 80%;
}

.graph:after {
    content: "Recent flights";
    display: block;
    width: 32%;
    margin: 0 auto;
}

/***************
Other pages
***************/

h2.pageTitle {
    margin: 40px auto;
    font-family: "Montserrat", sans-serif;
    text-transform: UPPERCASE;
    width: 70%;
}

.p-text {
    font-family: "Raleway";
    font-size: 15px;
    color: #808080;
    margin: 0 auto;
    width: 70%;
}

.fea-p-text {
    font-family: "Raleway";
    font-size: 15px;
    color: #808080;
    margin: 0 auto;
    width: 94%;
    clear: both;
}

.fea-img,
.fea-text {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: #808080;
    max-width: 40%;
    height: auto;
    /* border: 1px solid #333; */
    margin: 40px;
}

.fea-text h2 {
    color: #000;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.fea-img img {
    width: 100%;
    border: 1px solid #333;
    padding: 2px;
}

/******************
Footer
*****************/

.footer-info {
    max-width: 100%;
    background: #333;
    color: #fff;
    padding: 40px;
    overflow: hidden;
}

.copyright {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 55px;

}

.quick-links {
    display: inline-block;
    text-align: center;
}

.ql-inner a {
    color: #fff;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

.ql-inner {
    display: inline-grid;
    margin: 0 15px 0 0;
    width: 100%;
}

.quick-links h3 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

.atol {
    width: 33%;
    display: none;
    position: relative;
}

.atol img {
    position: absolute;
    left: -470px;
    top: -120px;
}

.ql-inner a:hover {
    color: #039183;
}

/********
Responsive
********/

@media (min-width:480px) {

    .f-item-outer {
        width: 37%;
    }
    .si-item {
        display: inline;
    }

    .si-item img {
        width: 6%;
    }

}

@media (min-width:768px) {
    .nav-links {
        display: block;
    }
    .logo img {
        max-width: 50%;
    }

    .logo {
        float: left;
        width: 44%;
        text-align: left;
    }
    .hero-container {
        display: block;
    }
    .atol {
        display: inline;
    }

    .copyright {
        width: 64%;
        text-align: left;
    }

    .quick-links {
        text-align: left;
    }

    .ql-inner {
        width: auto;
    }

    .footer-info {
        max-width: none;
        width: 100%;
    }

    .main-bg-words {
        display: none;
    }
}

@media (min-width:960px) {
    .logo {
        width: 60%;
    }

    .logo img {
        width: 35%;
    }

    .f-item-outer {
        width: 27%;
        margin: 0 25px;
    }
    .main-bg-words {
        display: block;
    }
}

@media (min-width:1080px) {
    .hero-container {
        top: 90px;
        left: -50px;
    }

    .logo {
        width: 57%;
    }
}

@media (min-width:1400px) {
    .hero-container {
        top: 140px;
        left: 0;
    }

    .logo {
        width: 60%;
    }
}
